@model IEnumerable<SoftServe.FootballManager.DAL.Models.Player>

@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>
            <p>
                @using (Html.BeginForm("Index", "Players", FormMethod.Get))
                {    
                    <p>
                        Club: @Html.DropDownList("Club", ViewBag.Clubs as SelectList, string.Empty)
                        Player number: @Html.TextBox("playerNumber")
                        <br />
                        <input type="submit" value="Search" class="btn-success"/>
                    </p> 
                }
            </p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Country
        </th>
        <th>
            Age
        </th>
        <th>
            Position
        </th>
        <th>
            Number
        </th>
        <th>
            Club
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id}) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.BornCountry
        </td>
        <td>
			@item.Age
        </td>
        <td>
			@item.MainPosition
        </td>
        <td>
			@item.Number
        </td>
        <td>
			@item.Club.Name
        </td>
    </tr>
}

</table>