@model SoftServe.FootballManager.DAL.Models.Club

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Club</legend>

    <div class="display-label"><b>Name</b></div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label"><b>Country</b></div>
    <div class="display-field">@Model.Country</div>

    <div class="display-label"><b>Owner</b></div>
    <div class="display-field">@Model.President</div>

    <div class="display-label"><b>Coach</b></div>
    <div class="display-field">@Model.Coach</div>

    <div class="display-label"><b>Players</b></div>
    <div class="display-field">@(Model.Players == null ? "None" : Model.Players.Count.ToString())</div>

    <div class="display-label"><b>Tournaments</b></div>
    <div class="display-field">@(Model.Tournaments == null ? "None" : Model.Tournaments.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>