@model IEnumerable<SoftServe.FootballManager.DAL.Models.Club>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Country
        </th>
        <th>
            Owner
        </th>
        <th>
            Coach
        </th>
        <th>
            Players
        </th>
        <th>
            Tournaments
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Country
        </td>
        <td>
			@item.President
        </td>
        <td>
			@item.Coach
        </td>
        <td>
			@foreach (var player in item.Players)
			{
			    <p>@player.Name</p>
			}
        </td>
        <td>
			@foreach (var tour in item.Tournaments)
			{
			    <p>@tour.Name</p>
			}
        </td>
    </tr>
}

</table>


